<link rel="stylesheet" href="/css/header.css">

<div class="nav">
    <div class="title"> 
        <a href="/"><i class="fa-solid fa-house"></i>Habits Tracker</a>
    </div>
    <% if (locals.user){ %>
        <div class="user_exit">
            <div class="user_name"><%= user.name%>  </div>
            <hr>
            <div class="logOut"> <a href="/users/sign-out" > <i class="fa-solid fa-right-from-bracket"></i> </a> </div>
        </div>
        <%} else { %>
            <div class="no_user">
                <ul>
                    <li> <a href="/users/sign-in"> Sign In </a> </li>
                    <hr>
                    <li> <a href="/users/sign-up"> Sign Up </a> </li>
                </ul>
            </div>
        
        <%}%>   

</div>